{% for offer in offers %}
    <div class="card">
      <div class="card-header" id="heading{{ offer.id }}">
        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ offer.id }}" aria-expanded="true" aria-controls="collapse{{ offer.id }}">
          {{ offer }}

          <button id="buttonOffer{{ offer.id }}" type="button" class="btn btn-primary" onclick="chooseOffer({{ offer.id }})">Choose me</button>
        </button>
      </div>

      <div id="collapse{{ offer.id }}" class="collapse" aria-labelledby="heading{{ offer.id }}" data-parent="#accordion">
        <div class="card-body">
          BLA BLA BLA
        </div>
      </div>
    </div>
{% endfor %}