.language-inline-form {
    margin: 0;
    padding: 0;
    display: inline;
}

.language-fake-button {
    border-style: none;
    border-width: 0;
    background-color: initial;
}

.alert-primary br {
    display: block;
    content: "";
    margin-bottom: 10px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    padding: 10px;
}