django
gunicorn
django-crispy-forms
crispy-bootstrap4
django-formtools
django-debug-toolbar
django-admin-interface
python-dotenv
docxtpl
django-import-export
python-dateutil
django-extensions
thefuzz
num2words