{% load i18n %}

<p>
  <strong>{% trans "Beginning of study" %}</strong>:
  {{ offer.study_begin }}
</p>

<p>
  <strong>{% trans "Study end" %}</strong>:
  {{ offer.study_end }}
</p>

<p>
  <strong>{% trans "Study duration" %}</strong>:
  {{ offer.study_duration_years }} {% trans "years" %}, {{ offer.study_duration_months }} {% trans "months" %}
</p>

<p>
  <strong>{% trans "Faculty" %}</strong>:
  {{ offer.educational_program.speciality.faculty.full_name }}.
</p>

<p>
  <strong>{% trans "Speciality" %}</strong>:
  {{ offer.educational_program.speciality.code_and_name }}.
</p>

{% if offer.educational_program.speciality.specialization_code %}
<p>
  <strong>{% trans "Specialization" %}</strong>:
  {{ offer.educational_program.speciality.code_and_name_s }}.
</p>
{% endif %}

<p>
  <strong>{% trans "Name of educational program" %}</strong>:
  {{ offer.educational_program.name }}.
</p>

<p>
  <strong>{% trans "Accreditation" %}</strong>:

  {% if offer.get_accreditation %}
    {{ offer.get_accreditation.ukr_sentence }}. 
  {% else %}
    {% trans "no accreditation" %}.
  {% endif %}
</p>

<p>
  <strong>{% trans "Educational level" %}</strong>:
  {{ offer.get_level_display }}.
</p>

<p>
  <strong>{% trans "Basis" %}</strong>:
  {{ offer.get_basis_display }}.
</p>

<p>
  <strong>{% trans "Offer type" %}</strong>:
  {{ offer.get_type_display }}.
</p>

<p>
  <strong>{% trans "Study form" %}</strong>:
  {{ offer.get_study_form_display }}.
</p>

<p>
  <strong>{% trans "ECTS" %}</strong>:
  {{ offer.ects }}.
</p>

{% if offer.year1_cost %}
<p>
  <strong>{% if offer.basis == UniversityOffer.Basis.NRK_6_7 %} {% trans "Year 1 cost" %} {% else %} {% trans "Semester 1 cost" %} {% endif %}</strong>:
  {{ offer.year1_cost }}.
</p>
{% endif %}

{% if offer.year2_cost %}
<p>
  <strong>{% if offer.basis == UniversityOffer.Basis.NRK_6_7 %} {% trans "Year 2 cost" %} {% else %} {% trans "Semester 2 cost" %} {% endif %}</strong>:
  {{ offer.year2_cost }}.
</p>
{% endif %}

{% if offer.year3_cost %}
<p>
  <strong>{% if offer.basis == UniversityOffer.Basis.NRK_6_7 %} {% trans "Year 3 cost" %} {% else %} {% trans "Semester 3 cost" %} {% endif %}</strong>:
  {{ offer.year3_cost }}.
</p>
{% endif %}

{% if offer.year4_cost %}
<p>
  <strong>{% if offer.basis == UniversityOffer.Basis.NRK_6_7 %} {% trans "Year 4 cost" %} {% else %} {% trans "Semester 4 cost" %} {% endif %}</strong>:
  {{ offer.year4_cost }}.
</p>
{% endif %}
