{% load i18n %}

<p>
  <strong>{% trans "Beginning of study" %}</strong>:
  {{ offer.study_begin }}
</p>

<p>
  <strong>{% trans "Study end" %}</strong>:
  {{ offer.study_end }}
</p>

<p>
  <strong>{% trans "Study duration" %}</strong>:
  {{ offer.study_duration_years }} {% trans "years" %}, {{ offer.study_duration_months }} {% trans "months" %}
</p>

<p>
  <strong>{% trans "Daculty" %}</strong>:
  {{ offer.educational_program.speciality.faculty.full_name }}.
</p>

<p>
  <strong>{% trans "Speciality" %}</strong>:
  {{ offer.educational_program.speciality.code_and_name }}.
</p>

<p>
  <strong>{% trans "Name of educational program" %}</strong>:
  {{ offer.educational_program.name }}.
</p>

<p>
  <strong>{% trans "End of accreditation" %}</strong>:
  {% if offer.educational_program.end_of_accreditation %}
      {{ offer.educational_program.end_of_accreditation }}
  {% else %}
      {% trans "no accreditation" %}
  {% endif %}
</p>

<p>
  <strong>{% trans "Educational level" %}</strong>:
  {{ offer.get_level_display }}.
</p>

<p>
  <strong>{% trans "Basis" %}</strong>:
  {{ offer.get_basis_display }}.
</p>

<p>
  <strong>{% trans "Offer type" %}</strong>:
  {{ offer.get_type_display }}.
</p>

<p>
  <strong>{% trans "Study form" %}</strong>:
  {{ offer.get_study_form_display }}.
</p>

<p>
  <strong>{% trans "ECTS" %}</strong>:
  {{ offer.ects }}.
</p>

{% if offer.year1_cost %}
<p>
  <strong>{% trans "Year 1 cost" %}</strong>:
  {{ offer.year1_cost }}.
</p>
{% endif %}

{% if offer.year2_cost %}
<p>
  <strong>{% trans "Year 2 cost" %}</strong>:
  {{ offer.year2_cost }}.
</p>
{% endif %}

{% if offer.year3_cost %}
<p>
  <strong>{% trans "Year 3 cost" %}</strong>:
  {{ offer.year3_cost }}.
</p>
{% endif %}

{% if offer.year4_cost %}
<p>
  <strong>{% trans "Year 4 cost" %}</strong>:
  {{ offer.year4_cost }}.
</p>
{% endif %}
