{% extends "accepting_offers/wizard_steps/wizard_step_wrapper.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block step_name %}
    {% trans "wizard.steps.4" %}
{% endblock step_name %}
{% block content_form %}
    {{ wizard.management_form }}
    {{ form | crispy }}
{% endblock content_form %}
{% block additional_scripts %}
    <script>
        let facultyElem = $("[name=3-faculty]");
        let specialityElem = $("[name=3-speciality]");
        let studyFormElem = $("[name=3-study_form]");
        let typeElem = $("[name=3-type]");

        $(function () {
            let facultyVal = Cookies.get("faculty-val");
            if (facultyVal) {
                facultyElem.val(facultyVal);
            }

            let specialityData = Cookies.get("speciality-data");
            if (specialityData) {
                specialityElem.html(specialityData);
            }

            let specialityVal = Cookies.get("speciality-val");
            if (specialityVal) {
                specialityElem.val(specialityVal);
            }

            let studyFormData = Cookies.get("studyForm-data");
            if (studyFormData) {
                studyFormElem.html(studyFormData);
            }

            let studyFormVal = Cookies.get("studyForm-val");
            if (studyFormVal) {
                studyFormElem.val(studyFormVal);
            }
            
            let typeData = Cookies.get("type-data");
            if (typeData) {
                typeElem.html(typeData);
            }

            let typeVal = Cookies.get("type-val");
            if (typeVal) {
                typeElem.val(typeVal);
            }
        });

        function facultyAjax(elem) {
            let faculty = $(elem).val();

            $.ajax({
                url: '{% url "ajax_specialities" %}',
                data: {
                    faculty,
                },
                success: function (data) {
                    Cookies.set("faculty-val", faculty);
                    Cookies.set("speciality-data", data);

                    specialityElem.html(data);

                    specialityAjax(specialityElem);
                }
            });
        }

        facultyElem.change(function () {
            facultyAjax(this)
        });

        function specialityAjax(elem) {
            var speciality = $(elem).val();

            $.ajax({
                url: '{% url "ajax_study_forms" %}',
                data: {
                    speciality,
                },
                success: function (data) {
                    Cookies.set("speciality-val", speciality);
                    Cookies.set("studyForm-data", data);

                    studyFormElem.html(data);
                    studyFormAjax(studyFormElem);
                }
            });
        }

        specialityElem.change(function () {
            specialityAjax(this);
        });


        function studyFormAjax(elem) {
            var study_form = $(elem).val();
            let speciality = specialityElem.val();

            $.ajax({
                url: '{% url "ajax_offer_types" %}',
                data: {
                    speciality,
                    study_form,
                },
                success: function (data) {
                    Cookies.set("studyForm-val", study_form);
                    Cookies.set("type-data", data);

                    typeElem.html(data);
                }
            });
        }

        typeElem.change(function () {
            Cookies.set("type-val", typeElem.val());
        });

    </script>
{% endblock additional_scripts %}
