{% extends "accepting_offers/wizard_steps/wizard_step_base.html" %}
{% load i18n %}
{% block step_name %}
    {% trans "wizard.steps.4" %}
{% endblock step_name %}
{% block additional_scripts %}
    <script>
        function getIdPart(elem, end) {
            let componentId = $(elem).attr("id");
            return componentId.substring(0, componentId.length - end.length);
        }

        function withIdPart(id, name) {
            return $("select[id='" + id + name + "']");
        }

        function setupAjax(end, fn) {
            $("select[id$='" + end + "']").change(function () {
                let elem = $(this);
                let id = getIdPart(this, end);
                $.ajax(fn(elem.val(), id));
            });
        }

        function callAjax(id, end, fn) {
            let elem = withIdPart(id, end);
            let val = elem.val();
            let dict = fn(val, id);
            $.ajax(dict);
        }

        function facultyAjaxHandler(faculty, id) {
            return {
                url: '{% url "ajax_specialities" %}',
                data: {
                    faculty,
                },
                success: function (data) {
                    withIdPart(id, "speciality").html(data);
                },
            };
        }

        function specialityAjaxHandler(speciality, id) {
            return {
                url: '{% url "ajax_study_forms" %}',
                data: {
                    speciality,
                },
                success: function (data) {
                    withIdPart(id, "study_form").html(data);
                    callAjax(id, "study_form", studyFormAjaxHandler);
                },
            };
        }

        function studyFormAjaxHandler(study_form, id) {
            let speciality = withIdPart(id, "speciality").val();

            return {
                url: '{% url "ajax_offer_types" %}',
                data: {
                    speciality,
                    study_form,
                },
                success: function (data) {
                    withIdPart(id, "type").html(data);
                },
            }
        }

        setupAjax("faculty", facultyAjaxHandler);
        setupAjax("speciality", specialityAjaxHandler);
        setupAjax("study_form", studyFormAjaxHandler);

    </script>
{% endblock additional_scripts %}
