{% extends "accepting_offers/wizard_steps/wizard_step_wrapper.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block step_name %}
    {% trans "wizard.steps.3" %}
{% endblock step_name %}
{% block content_form %}
    {{ wizard.management_form }}
    {{ form | crispy }}
{% endblock content_form %}
{% block additional_scripts %}
    <script>
        let specialityElem = $("[name$=speciality]");
        let basisElem = $("[name$=basis]");
        let levelElem = $("[name$=level]");
        let studyFormElem = $("[name$=study_form]");
        let typeElem = $("[name$=type]");
        let infoElem = $("[name$=info_div]");
        let infoLabel = $("label[for$=-info_div]");

        $(function () {
            infoLabel.changeElementType("p");
            infoLabel = $("p[for$=info_div]")
            infoLabel.removeClass("form-label");
            infoLabel.addClass("text-center font-weight-bold");

            infoElem.changeElementType("p");
            infoElem = $("[name$=info_div]");
            infoElem.removeClass("textarea");
            infoElem.removeClass("form-control");
            infoElem.text('{% trans "generic.loading" %}');

            let specialityData = Cookies.get("speciality-data");
            if (specialityData) {
                specialityElem.html(specialityData);
            }

            let basisData = Cookies.get("basis-data");
            if (basisData) {
                basisElem.html(basisData);
            }

            let levelData = Cookies.get("level-data");
            if (levelData) {
                levelElem.html(levelData);
            }

            let specialityVal = Cookies.get("speciality-val");
            if (specialityVal) {
                specialityElem.val(specialityVal);
            }

            let studyFormData = Cookies.get("studyForm-data");
            if (studyFormData) {
                studyFormElem.html(studyFormData);
            }

            let studyFormVal = Cookies.get("studyForm-val");
            if (studyFormVal) {
                studyFormElem.val(studyFormVal);
            }
            
            let typeData = Cookies.get("type-data");
            if (typeData) {
                typeElem.html(typeData);
            }

            let typeVal = Cookies.get("type-val");
            if (typeVal) {
                typeElem.val(typeVal);
                updateOfferInfo();
            }
        });

        {% get_current_language as LANGUAGE_CODE %}

        function specialityAjax() {
            let speciality = specialityElem.val();

            Cookies.set("speciality-val", speciality);

            $.ajax({
                url: "{% url "ajax_bases" %}",
                data: {
                    speciality
                },
                success: function (data) {
                    Cookies.set("basis-data", data);
                    basisElem.html(data);
                    basisAjax();
                }
            });
        }

        specialityElem.change(specialityAjax);

        function basisAjax() {
            let speciality = specialityElem.val();
            let basis = basisElem.val();

            Cookies.set("basis-val", basis);

            $.ajax({
                url: "{% url "ajax_levels" %}",
                data: {
                    speciality,
                    basis
                },
                success: function (data) {
                    Cookies.set("level-data", data);
                    levelElem.html(data);
                    levelAjax();
                }
            });
        }

        basisElem.change(basisAjax);

        function levelAjax() {
            let speciality = specialityElem.val();
            let basis = basisElem.val();
            let level = levelElem.val();

            Cookies.set("level-val", level);

            $.ajax({
                url: "{% url "ajax_study_forms" %}",
                data: {
                    speciality,
                    basis,
                    level
                },
                success: function (data) {
                    Cookies.set("sudyForm-data", data);
                    studyFormElem.html(data);
                    studyFormAjax();
                }
            });
        }

        levelElem.change(levelAjax);

        function studyFormAjax() {
            let speciality = specialityElem.val();
            let basis = basisElem.val();
            let level = levelElem.val();
            let study_form = studyFormElem.val();

            Cookies.set("studyForm-val", study_form);

            $.ajax({
                url: "{% url "ajax_offer_types" %}",
                data: {
                    speciality,
                    basis,
                    level,
                    study_form,
                },
                success: function (data) {
                    Cookies.set("type-data", data);

                    typeElem.html(data);
                    typeElemChange();
                }
            });
        }

        studyFormElem.change(studyFormAjax);

        function typeElemChange() {
            Cookies.set("type-val", typeElem.val());

            updateOfferInfo();
        }

        function updateOfferInfo() {
            let speciality = specialityElem.val();
            let basis = basisElem.val();
            let level = levelElem.val();
            let study_form = studyFormElem.val();
            let type = typeElem.val();

            $.ajax({
                url: "{% url "ajax_offer_info" %}",
                data: {
                    speciality,
                    basis,
                    level,
                    study_form,
                    type
                },
                success: function (data) {
                    infoElem.html(data);
                }
            });
        }

        typeElem.change(typeElemChange);

    </script>
{% endblock additional_scripts %}
