{% extends "accepting_offers/wizard_steps/wizard_step_wrapper.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content_form %}
    <table>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                <div class="formset_row">
                    <div class="mb-3"></div>
                    {{ form | crispy }}
                </div>
            {% endfor %}
        {% else %}
            {{ wizard.form | crispy }}
        {% endif %}
    </table>
{% endblock content_form %}
