{% extends "accepting_offers/wrapper.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="text-center">
        <h3>
            {% trans "wizard.step" %} {{ wizard.steps.step1 }}/{{ wizard.steps.count }} -
            <strong>
                {% block step_name %}
                {% endblock step_name %}
            </strong>
        </h3>
    </div>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    <div class="formset_row">
                        <div class="mb-3"></div>
                        {{ form | crispy }}
                    </div>
                {% endfor %}
            {% else %}
                {{ wizard.form | crispy }}
            {% endif %}
        </table>
        <div class="mb-5"></div>
        <div class="position-relative">
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step"
                        type="submit"
                        value="{{ wizard.steps.prev }}"
                        class="btn btn-secondary position-absolute start-0">{% trans "wizard.previous_step" %}</button>
            {% endif %}
            <button type="submit" class="btn btn-primary position-absolute end-0">{% trans "wizard.next" %}</button>
        </div>
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'accepting_offers/jquery.formset.js' %}"></script>
    {% if wizard.form.forms %}
        <script type="text/javascript">
        $('.formset_row').formset({
            addText: '{% trans "wizard.add" %}',
            addCssClass: 'btn btn-success',
            deleteText: '{% trans "wizard.delete" %}',
            deleteCssClass: 'btn btn-danger',
            prefix: '{{ wizard.form.prefix }}'
        });
        </script>
    {% endif %}
{% endblock content %}
