{% extends "accepting_offers/wrapper.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <p>{% trans "wizard.step" %} {{ wizard.steps.step1 }}/{{ wizard.steps.count }}</p>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}<div class="formset_row">{{ form | crispy }}</div>{% endfor %}
            {% else %}
                {{ wizard.form | crispy }}
            {% endif %}
        </table>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step"
                    type="submit"
                    value="{{ wizard.steps.prev }}"
                    class="btn btn-secondary">{% trans "wizard.previous_step" %}</button>
        {% endif %}
        <button type="submit" class="btn btn-primary">{% trans "wizard.next" %}</button>
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'jquery.formset.js' %}"></script>
    {% if wizard.form.forms %}
        <script type="text/javascript">
        $('.formset_row').formset({
            addText: '{% trans "wizard.add" %}',
            deleteText: '{% trans "wizard.delete" %}',
            prefix: '{{ wizard.form.prefix }}'
        });
        </script>
    {% endif %}
{% endblock content %}
