{% load i18n %}
<p>
    {% trans "speciality.end_of_accreditation" %}:
    {% if offer.speciality.end_of_accreditation %}
        {{ offer.speciality.end_of_accreditation }}
    {% else %}
        ---
    {% endif %}
</p>
<p>
    {% trans "speciality.educational_program_name"|title %}:
    {{ offer.speciality.educational_program_name }}
</p>
<p>
    {% trans "university_offer.study_begin"|title %}:
    {{ offer.study_begin }}
</p>
<p>
    {% trans "university_offer.study_duration"|title %}:
    {{ offer.study_duration_years }} {% trans "generic.years" %}, {{ offer.study_duration_months }} {% trans "generic.months" %}
</p>
<p>
    {% trans "univeristy_offer.ects"|title %}:
    {{ offer.ects }}
</p>
