{% extends "base/wrapper.html" %}

{% load i18n %}
{% load pk_panel_extras %}

{% block title %}
{% trans "Admission office panel" %}
{% endblock title %}

{% block content %}

<div class="container">
    <form >
        <div class="form-group d-flex">
          <input type="text" class="form-control" name="query" id="query" placeholder="{% trans "Name, speciality, etc." %}">
          <button class="btn btn-primary ml-3" type="submit" class="btn btn-primary">{% trans "Search" %}</button>
        </div>
    </form>
</div>

<div id="accordion">

{% for offer in offers %}

<div class="card mb-3 t-1">
    <div class="card-header p-0" id="headingOne">
      <h5 id="header{{ offer.id }}">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ offer.id }}" aria-expanded="true" aria-controls="collapse{{ offer.id }}">
            {{ offer }}
        </button>
      </h5>
    </div>

    <div id="collapse{{ offer.id }}" class="collapse" data-parent="#accordion" aria-labelledby="heading{{ offer.id }}">
      <div class="card-body">
        
        <ul>

        {% for document in documents|filter_documents:offer.offer %}

          <li>
            <a role="button" class="btn-link" href="{% url 'gen_doc' %}?offer_id={{ offer.id }}&doc_id={{ document.id }}">
                {% trans "Generate" %} "{{ document.name }}"
            </a>
          </li>

        {% endfor %}

        <br/>

        <a role="button" class="btn btn-primary" href="{% url 'gen_all_docs' %}?offer_id={{ offer.id }}">
          {% trans "Generate all documents" %}
        </a>

        </ul>

      </div>
    </div>
</div>

{% empty %}

<div class="alert alert-info">{% trans "No offers found" %}</div>

{% endfor %}

</div>

<div class="d-flex justify-content-center">

  <a class="btn btn-primary" href="{% url "logout" %}">{% trans "logout"|capfirst %}</a>

</div>

<script>
  $(() => {
    let query = $.urlParam("query");
    if (query) {
      document.getElementById("query").value = query.replace(/\+/g, " ");
    }
  });
</script>

{% endblock content %}
