{% extends "abiturient_form/wizard_steps/wizard_step_wrapper.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block info %}
    {% trans "wizard.steps.abiturient_basic.info" as info %}
    {{ info|linebreaksbr }}
{% endblock info %}

{% block step_name %}
    {% trans "wizard.steps.abiturient_basic.title"|capfirst %}
{% endblock step_name %}

{% block content_form %}

<div class="form-row">
  <div class="col">
    {{ wizard.form.last_name | add_class:"first-letter-upper" | as_crispy_field }}
  </div>

  <div class="col">
    {{ wizard.form.first_name | add_class:"first-letter-upper" | as_crispy_field }}
  </div>

  <div class="col">
    {{ wizard.form.patronymic | add_class:"first-letter-upper" | as_crispy_field }}
  </div>
</div>

<div class="form-row">
  <div class="col">
    {{ wizard.form.phone_number | as_crispy_field }}
  </div>
</div>

<div class="form-row">
  <div class="col">
    {{ wizard.form.email | as_crispy_field }}
  </div>
</div>

{% endblock content_form %}
