{% extends "abiturient_form/wizard_steps/wizard_step_wrapper.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block info %}
    {% trans "wizard.steps.abiturient_parents.info" as info %}
    {{ info|linebreaksbr }}
{% endblock info %}

{% block step_name %}
    {% trans "wizard.steps.abiturient_parents.title"|capfirst %}
{% endblock step_name %}

{% block content_form %}

<div class="form-row">
  <div class="col">
    {{ wizard.form.mother_last_name | as_crispy_field }}
  </div>

  <div class="col">
    {{ wizard.form.mother_first_name | as_crispy_field }}
  </div>

  <div class="col">
    {{ wizard.form.mother_patronymic | as_crispy_field }}
  </div>
</div>

<div class="form-row">
  {{ wizard.form.mother_phone | as_crispy_field }}
</div>

<hr>

<div class="form-row">
  <div class="col">
    {{ wizard.form.father_last_name | as_crispy_field }}
  </div>

  <div class="col">
    {{ wizard.form.father_first_name | as_crispy_field }}
  </div>

  <div class="col">
    {{ wizard.form.father_patronymic | as_crispy_field }}
  </div>
</div>

<div class="form-row">
  {{ wizard.form.father_phone | as_crispy_field }}
</div>

{% endblock content_form %}