{% extends "abiturient_form/wizard_steps/wizard_step_wrapper.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block info %}
    {% trans "wizard.steps.abiturient_birth.info" as info %}
    {{ info|linebreaksbr }}
{% endblock info %}

{% block step_name %}
    {% trans "wizard.steps.abiturient_birth.title"|capfirst %}
{% endblock step_name %}

{% block content_form %}

<div class="form-row">
  <div class="col">
    {{ wizard.form.birth_country | add_class:"first-letter-upper" | as_crispy_field }}
  </div>

  <div class="col">
    {{ wizard.form.birth_town | add_class:"first-letter-upper" | as_crispy_field }}
  </div>
</div>

<div class="form-row">
  <div class="col">
    {{ wizard.form.birth_date | as_crispy_field }}
  </div>

  <div class="col">
    {{ wizard.form.nationality | add_class:"first-letter-lower" | as_crispy_field }}
  </div>
</div>

<div class="form-row">
  <div class="col">
    {{ wizard.form.foreign_language | add_class:"first-letter-lower" | as_crispy_field }}
  </div>

  <div class="col">
    {{ wizard.form.gender | as_crispy_field }}
  </div>
</div>

{% endblock content_form %}
