<!-- God, forgive me for this code duplication. -->
{% extends "base/wrapper.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{% trans "abiturient_form"|capfirst %}
{% endblock title %}

{% block content %}
    <div class="text-center mb-4">
        <h3>
            {% trans "wizard.step"|capfirst %} {{ wizard.steps.step1 }} -
            <strong>
                {% trans "wizard.steps.last_warning.title" %}
            </strong>
        </h3>
    </div>
    
    <div class="alert alert-danger" role="alert">
        {% trans "wizard.steps.last_warning.info" as info %}
        {{ info|linebreaksbr }}
    </div>

    <div class="mb-3"></div>

    {% if wizard.form.non_field_errors %}
        <div>
            {% for err in wizard.form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ err }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form action="" method="post" novalidate autocomplete="off">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% block content_form %}
        {% endblock content_form %}
        <div class="mb-5"></div>
        <div class="d-flex justify-content-between">
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step"
                        type="submit"
                        value="{{ wizard.steps.prev }}"
                        class="btn btn-secondary">{% trans "wizard.previous_step"|capfirst %}</button>
            {% endif %}
            <button type="submit" class="btn btn-primary">{% trans "wizard.next"|capfirst %}</button>
        </div>
    </form>

    {% block additional_scripts %}
    {% endblock additional_scripts %}
{% endblock content %}
