{% extends 'abiturient_form/wizard_steps/wizard_step_wrapper.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block info %}
  {% trans 'wizard.steps.offer.info' as info %}
  {{ info|linebreaksbr }}
{% endblock %}

{% block step_name %}
  {% trans 'wizard.steps.offer.title'|capfirst %}
{% endblock %}

{% block content_form %}
  <div class="form-row">
    <div class="col">{{ wizard.form.basis|as_crispy_field }}</div>
    <div class="col">{{ wizard.form.level|as_crispy_field }}</div>
  </div>

  <div class="form-row">
    <div class="col">{{ wizard.form.offer_type|as_crispy_field }}</div>
    <div class="col">{{ wizard.form.study_form|as_crispy_field }}</div>
  </div>

  {{ wizard.form.speciality|as_crispy_field }}
  {{ wizard.form.faculty|as_crispy_field }}

  {{ wizard.form.educational_program_name|as_crispy_field }}

  <div class="d-flex justify-content-center">
    <button type="button" id="searchOffer" class="btn btn-success">{% trans 'search_offer'|capfirst %}</button>
  </div>

  <div class="mb-3"></div>

  <div class="alert alert-info d-none" role="alert" id="loading">
    {% trans 'generic.loading'|capfirst %}...
  </div>

  <div class="alert alert-danger d-none" role="alert" id="noData">
    {% trans 'offers.not_found'|capfirst %}
  </div>

  <div id="accordion">
  </div>

  {{ wizard.form.result_offer.as_hidden }}

  <script>
    const facultyElem = $("select[id$='faculty']");
    const specialityElem = $("select[id$='speciality']");
    const educationalProgramNameElem = $("input[id$='educational_program_name']");
    const offerTypeElem = $("select[id$='offer_type']");
    const studyFormElem = $("select[id$='study_form']");
    const basisElem = $("select[id$='basis']");
    const levelElem = $("select[id$='level']");

    const searchButton = $("#searchOffer");
    const loadingElem = $("#loading");
    const noDataElem = $("#noData");
    const accordionElem = $("#accordion");

    const cookiesValList = [
      ["faculty", facultyElem],
      ["speciality", specialityElem],
      ["educational_program_name", educationalProgramNameElem],
      ["offer_type", offerTypeElem],
      ["study_form", studyFormElem],
      ["basis", basisElem],
      ["level", levelElem]
    ];

    for (const [key, elem] of cookiesValList) {
      elem.on("change", function() {
        Cookies.set(key, elem.val());
      })
    }

    $(() => {
      for (const [key, elem] of cookiesValList) {
        restoreVal(key, elem);
      }

      let accordionDataCookie = Cookies.get("accordion");
      if (accordionDataCookie) {
        fillAccordion(JSON.parse(accordionDataCookie));
      }
    });

    function restoreVal(key, elem) {
      let cookie = Cookies.get(key);

      if (cookie) {
        elem.val(cookie);
      }
    }

    function fillAccordion(jsonData) {
      $.ajax({
        type: "POST",
        url: "{% url 'offers_json_to_html' %}",
        data: JSON.stringify(jsonData),
        contentType: "application/json",
        success: function (data) {
          accordionElem.html(data);

          loadingElem.addClass("d-none");

          if (accordionElem.children().length == 0) {
            noDataElem.removeClass("d-none");
          } else {
            noDataElem.addClass("d-none");
          }

          // This is a little stupid.
          chooseOffer({{ wizard.form.result_offer.value }});
        }
      });
    }

    searchButton.on("click", function() {
      let faculty = facultyElem.val();
      let speciality = specialityElem.val();
      let educational_program_name = educationalProgramNameElem.val();
      let offer_type = offerTypeElem.val();
      let study_form = studyFormElem.val();
      let basis = basisElem.val();
      let level = levelElem.val();

      loadingElem.removeClass("d-none"); 

      lastButton = null;
      resultOffer.val("");

      $.ajax({
        url: "{% url 'offers_json' %}",
        data: {
          faculty,
          speciality,
          educational_program_name,
          offer_type,
          study_form,
          basis,
          level
        },

        success: function (data) {
          Cookies.set("accordion", JSON.stringify(data));

          fillAccordion(data);
        }
      });
    });

    const resultOffer = $("input[id$='result_offer']");
    let lastButton = null;

    function chooseOffer(id) {
      resultOffer.val(id);
      
      if (lastButton) {
        lastButton.removeClass("btn-outline-primary");
        lastButton.addClass("btn-primary");
        lastButton.html("{% trans "choose_this_offer" %}");
      }

      const button = $("#buttonOffer" + id);
      button.removeClass("btn-primary");
      button.addClass("btn-outline-primary");
      button.html('{% trans "chosen_offer"|capfirst %}');
      
      lastButton = button;
    }
  </script>
{% endblock %}
