{% extends "abiturient_form/wizard_steps/wizard_step_wrapper.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block info %}
    {% trans "wizard.steps.representative_contact.info" as info %}
    {{ info|linebreaksbr }}
{% endblock info %}

{% block step_name %}
    {% trans "wizard.steps.representative_contact.title"|capfirst %}
{% endblock step_name %}

{% block content_form %}

<div class="form-row">
  <div class="col">
    {{ wizard.form.last_name | as_crispy_field }}
  </div>

  <div class="col">
    {{ wizard.form.first_name | as_crispy_field }}
  </div>

  <div class="col">
    {{ wizard.form.patronymic | as_crispy_field }}
  </div>
</div>

<div class="form-row">
  {{ wizard.form.phone_number | as_crispy_field }}
</div>

<div class="form-row">
  {{ wizard.form.living_address | as_crispy_field }}
</div>

{% endblock content_form %}
