{% load i18n %}

<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <a class="navbar-brand" href="#">{% trans "header.pk_panel.title"|capfirst %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
        {% get_available_languages as LANGUAGES %}
        {% for lang_code, lang_name in LANGUAGES %}
            <li class="nav-item">
                <!--- FIXME: use url tag in this link -->
                <a class="nav-link" href="/{{ lang_code }}/">{{ lang_code | upper }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url "logout" %}">{% trans "pk_panel.logout"|capfirst %}</a>
      </li>
    </ul>
  </div>
</nav>
